#header {
  display: flex;
  flex-wrap: wrap;
}

#pavoName {
  margin-left: 8rem;
}
body {
  /* background-color: rgb(218, 232, 232);
   */
  /* background-image: linear-gradient(to bottom right, rgb(176, 218, 237), white);
   */
  background-image: linear-gradient(to bottom right, rgb(226, 241, 243), white);
}

a:hover {
  color: red;
}
#navbar {
  cursor: pointer;
  display: flex;
  margin-left: 25rem;
  margin-top: 1rem;
  font-size: large;
}
#navbar li {
  margin-left: 10px;
}
.select {
  background-color: none;
}
.team {
  margin-left: 8rem;
  margin-top: 8rem;
  font-size: 2.875rem;
  line-height: 3.5rem;
}
.iosBtn {
  border-radius: 30px;
  margin-left: 8rem;
  size: 40px;
  background-color: rgb(150, 214, 244);
  color: white;
  padding: 15px 32px;
  font-size: 16px;

  cursor: pointer;
}
.iosBtn:hover {
  background-color: white;
  color: rgb(90, 90, 137);
}
#androidBtn {
  border-radius: 30px;
  size: 40px;
  background-color: rgb(175, 175, 218);
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#androidBtn:hover {
  background-color: white;
  color: rgb(90, 90, 137);
}
.management {
  text-align: center;
  font-size: 30px;
  margin-left: 6rem;
  margin-right: 6rem;
}

.boxes {
  text-align: center;
  border-radius: 8px;
  box-shadow: 2rem;
  margin-top: 2rem;
  box-sizing: border-box;

  margin-left: 3rem;
  background-color: rgb(232, 245, 249);
  height: 22rem;
  width: 20rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  font: 400 1rem / 1.625rem "Open Sans";
}
.top {
  margin-right: 5px;
}

.marketing {
  margin-top: 8rem;
  margin-left: 40rem;
  font-size: large;
}
.marketingBtnlgt {
  border-radius: 30px;
  size: 40px;
  background-color: rgb(32, 32, 216);
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.marketingBtnlgt:hover {
  background-color: white;
  color: blue;
}
.marketingBtndetail {
  border-radius: 30px;
  size: 40px;
  background-color: white;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.marketingBtndetail:hover {
  background-color: black;
  color: white;
}

p {
  color: #6b747b;
  font: 400 1rem / 1.625rem "Open Sans", sans-serif;
}
h2 {
  color: #252c38;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.625rem;
  letter-spacing: -0.4px;
}
.listNav {
  display: flex;
  list-style-type: none;
  color: #252c38;
}
#count {
  color: #252c38;
  font-weight: 200;
  font-size: 1.7rem;
  line-height: 3.75rem;
  vertical-align: middle;
  display: flex;
}

.countbox {
  margin-left: 8rem;
}

.person {
  text-align: center;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 30px 3rem 3rem;
  padding: 2rem;
}
.person p {
  font-style: italic;
}
.review {
  display: flex;
}
.person:hover {
  border: 1px solid black;
}

.moneycard {
  background-color: rgb(241, 241, 230);
  margin-right: 2rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.moneycard h2 {
  color: red;
}
.moneycard ul {
  list-style-type: none;
}
.price {
  display: flex;
  margin: 2rem 4rem 2rem 4rem;
}
.btn {
  background-color: rgb(42, 146, 243);
  border-radius: 20px;
  width: 35%;
  height: 8%;
  text-align: center;
  margin-left: 7rem;
  color: white;
  cursor: pointer;
  padding: 8px;
}
.btn:hover {
  background-color: white;
  color: rgb(108, 108, 204);
}
.firstimg {
  float: right;
  width: 30rem;
  height: 30rem;
}
.secondimg {
  float: right;
  width: 30rem;
  height: 20rem;
}

.third {
  margin-top: 3rem;
  float: left;

  width: 30rem;
  height: 20rem;
}
.fourth {
  float: right;
  width: 30rem;
  height: 20rem;
}
.lastbtn {
  border-radius: 30px;
  size: 40px;
  background-color: rgb(32, 32, 216);
  color: white;
  padding: 15px 32px;
  font-size: 16px;

  /* margin: 0px 0px 0rem 40rem; */
  cursor: pointer;
}
.end {
  text-align: center;
  margin: 3rem 2rem 2rem 3rem;
}
.boxes img {
  margin-top: 1rem;
  width: 500px;
  height: 80px;
}
.boxes:hover {
  border: 1px solid black;
  cursor: pointer;
}
.logo {
  max-width: 100%;
  width: 110px;
  height: 110px;
  margin-left: 8rem;
}
.collapse ul {
  cursor: pointer;
background-color;
margin-left: 32rem;
}
.collapse li :hover{
  color: red;
}